@inject IAuthenticationService _authService

<PageTitle>Weather.io - Best weather forecast</PageTitle>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center">Weather.io</h1>		
			<h3 class="text-center">Best weather forecast</h3>
		</div>
	</div>
</div>
